@model IEnumerable<TodoApp.Models.TodoModel>
@{
    ViewData["Title"] = "Index";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2 class="text-center my-4">My Todos</h2>

<div class="container">
    <table class="table table-bordered table-hover shadow">
        <thead class="table-light">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>@todo.Title</td>
                    <td>@todo.Description</td>
                    <td>
                        <a class="btn btn-primary btn-sm me-2" asp-action="EditPage" asp-route-id="@todo.Id"><i class="fas fa-edit"></i> Edit</a>
                        <a class="btn btn-success btn-sm me-2" asp-action="DeletePage" asp-route-id="@todo.Id"><i class="fas fa-check-circle"></i> Done</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>